body{
    /*background: linear-gradient(90deg, rgba(14,0,255,1) 50%, rgba(255,255,255,1) 50%); */
    background: linear-gradient(270deg, rgba(14,0,255,1) 50%, rgba(0,0,0,1) 51%, rgba(255,255,255,1) 51%);
    font-family: inter;
    margin-left:0;
    margin-right: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
@media only screen and (max-width: 600px){
    body{
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(45,54,253,1) 50%);
    }
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;

}

.custom{
    border-radius: 2%;
    max-height: 750px;
    height:100%;
}

.customImg{
    border-radius: 3%;
    min-width: 500px;
    min-height: 450px;
    transition: transform .6s; 
    max-width: 600px;
    max-height: 550px;
}

.customBttn{
    border: 2px solid white;

}

.customCard{
    min-width: 400px;
    height:auto;
    overflow: hidden;
    margin: 5px;
}

.customImg:hover{
    transform: scale(2.0);
    object-fit: fill;
}

#html_1{
    background: linear-gradient(270deg, rgba(255,255,255,1) 17%, rgba(14,0,255,1) 17%);
}

#css_2{
    background: linear-gradient(270deg, rgba(255,255,255,1) 14%, rgba(14,0,255,1) 14%);
}

#bootstrap_3{
    background: linear-gradient(270deg, rgba(255,255,255,1) 44%, rgba(14,0,255,1) 44%);
}

#javascript_4{
    background: linear-gradient(270deg, rgba(255,255,255,1) 67%, rgba(14,0,255,1) 67%);
}

#react_5{
    background: linear-gradient(270deg, rgba(255,255,255,1) 84%, rgba(14,0,255,1) 84%);
}

#python_6{
    background: linear-gradient(270deg, rgba(255,255,255,1) 23%, rgba(14,0,255,1) 23%);
}

#django_7{
    background: linear-gradient(270deg, rgba(255,255,255,1) 45%, rgba(14,0,255,1) 45%);
}

#sql_8{
    background: linear-gradient(270deg, rgba(255,255,255,1) 76%, rgba(14,0,255,1) 76%);

}

#btn_1:focus{
    border: 5px solid black;
    font-weight: bold;
}

#btn_2:focus{
    border: 5px solid black;
    font-weight: bold;

}

#btn_3:focus{
    border: 5px solid black;
    font-weight: bold;

}

.profileImg{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.profileImg:hover {
    transform: scale(1.2);
}

.zoomClass{
    width: 1000px;
}